body {
    background: linear-gradient(to right, #A9D0F5, #58ACFA);
    font-family: 'Amatic SC', cursive;
    font-size: 4ex;
    font-weight: bold;
}

div {
    margin-bottom: 50px;
    border: 2px solid;
    padding: 15px;
}

a {
    color: black;
    text-decoration: none;
}

#logo, #logo img {
    width: 100px;
    border: none;
    text-align: center;
}

#titulo, #inicio {
    text-align: center;
}

#titulo {
    width: 50%;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 5ex;
}

#inicio {
    width: 100px;
    height: 50px;
    margin-top: 100px;
    margin-left: auto;
    border-radius: 100px;
    transition: width 1s ease,
    height 1s ease,
    background-color 2s ease,
    border-radius 2s ease,
    padding 1s ease,
    box-shadow 1s ease 2s,
    color 3s linear;
}

#inicio:hover {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 20px #000;
    background-color: #D0D3D4;
}

#link1 {
    line-height: 50px;
    font-size: 2em;
}

#capsula {
    position: absolute;
    left: 75px;
    width: 92vmax;
    height: 70vh;
    border: none;
}

#aside {
    float: left;
    border: none;
    padding: 0;
}

#aside div {
    width: 350px;
}

#aside input {
    width: 120px;
}

input[type=radio] {
    height: 25px;
}

#aside select, input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    vertical-align: middle;
}

label {
    float: left;
    width: 35%;
}

p {
    margin: 0;
    line-height: 2em;
}

#botonera {
    border: none;
    text-align: center;
}

.boton {
    width: 4em;
    height: 3em;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid;
    border-radius: 150px;
    cursor: pointer;
    transition: width 1s cubic-bezier(0.18, 0.89, 0.32, 1.28), height 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    font: inherit;
    font-size: 20px;
    background: blanchedalmond;
}

.boton:hover {
    width: 4.5em;
    height: 3.5em;
}

.columna {
    position: relative;
    left: 500px;
    width: 900px;
    padding: 0;
}

#graf {
    height: 435px;
    border: 0;
}

#mycanvas {
    position: absolute;
    left: 0;
    width: inherit;
    height: 440px;
    margin: 0;
    border: 2px solid;
}

#resultados {
    height: 150px;
}

#repite {
    position: absolute;
    top: 20vh;
    right: 1vw;
    float: right;
}
