body {
    background: linear-gradient(to right, #A9D0F5, #58ACFA);
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 4ex;
}

div {
    border: 2px solid;
    padding: 15px;
    margin: 20px;
}

a {
    color: black;
    text-decoration: none;
}

#logo {
    width: 100px;
    border: none;
}

#titulo, #inicio {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#titulo {
    font-size: 5ex;
    width: 50%;
    margin-top: 200px;
    margin-bottom: 100px;
}

#inicio {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    margin-top: 100px;
    -webkit-transition: width 1s ease, height 1s ease, background-color 2s ease, border-radius 2s ease, padding 1s ease, box-shadow 1s ease 2s, color 3s linear;
}

#inicio:hover {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: #D0D3D4;
    padding: 30px;
    box-shadow: 0 2px 20px #000;
}

#link1 {
    line-height: 50px;
    font-size: 2em;
}

#Capsula {
    border: none;
    width: 95vmax;
    height: 70vh;
}

#aside {
    float: left;
    padding: 0;
    border: none;
}

.input {
    min-width: 16vw;
    margin-left: 30px;
    margin-right: 30px;
}

label {
    width: 25%;
    float: left;
}

#botonera {
    border: none;
}

select {
    font: inherit;
    font-size: 1ex;
}

button {
    margin-left: 15px;
}

.Boton {
    background: blanchedalmond;
    width: 4em;
    height: 3em;
    border: 2px solid;
    border-radius: 150px;
    cursor: pointer;
    transition: width 1s cubic-bezier(0.18, 0.89, 0.32, 1.28), height 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    font: inherit;
    font-size: 20px;
}

.Boton:hover {
    width: 4.5em;
    height: 3.5em;
}

#Graf {
    height: 400px;
    text-align: center;
}

#Resultados {
    height: 100px;
}

#Graf, #Resultados {
    width: 60vw;
    margin-left: 30vw;
}

#Repite {
    position: absolute;
    top: 20vh;
    right: 1vw;
    float: right;
}

#volver {
    margin-left: 20px;
    bottom: 20px;
    position: fixed;
}

